.header {
    padding: 0 !important;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: var(--second-color);
    background-image: url("./images/header-r.png");
    background-size: 1400px;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    /* overflow-x: hidden; */
}

.header__lamps-image {
    transition: transform 1s ease, opacity 1s ease;
    width: clamp(600px, 35vw, 1000px);
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

.header__notice-wrapper{
    min-width: 310px;
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.header__notice-main {
    line-height: 100px;
    display: inline-block;
    background-color: var(--notice-header-text-bgc);
    max-width: 100%;
    word-wrap: break-word;
}

.header__notice-info {
    word-wrap: break-word;
    font-weight: normal;
}

.header__notice-content {
    margin-top: 10px;
    background-color: var(--notice-header-text-bgc);
    width: fit-content;
}

.header__foreground {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.2) 100%
    );
}

@media (max-width: 1300px) {
    .header__lamps-image {
        transform: translateY(-300px); /* на сколько нужно увести вверх */
        opacity: 0;
    }
}

