@media (max-width: 800px) {
  .header-with-logo {
    flex-direction: column;
  }

  .main__header-logo {
    transform: scale(0.75);
  }
}

@media (max-width: 1000px) {
  .bio {
    flex-direction: column;
  }

  .bio__leftside-content,
  .bio__rightside-content {
    width: 100%;
    padding: 5% 0%;
  }

  .bio__autor-image {
    animation: scaleImage 0.5s ease-in-out forwards;
    width: 66%;
    height: auto;
  }
}
